@{
    ViewData["Title"] = "Home Page";
}


 <div class="justify-content-between d-inline-flex">
                    <ul class="d-inline-flex">
                        <li class="m-3">
                           <a class="btn btn-sm btn-success" style="margin-left:20px;" asp-controller="Student" asp-action="Index">Student Lists</a>
                        </li>
                        <li class="m-3">
                           <a class="btn btn-sm btn-success" style="margin-left:20px;" asp-controller="Student" asp-action="Create">Add Student</a>
                        </li>
                        <li class="m-3">
                            <a class="btn btn-sm btn-success" style="margin-left:20px;" asp-controller="Student" asp-action="SearchStudent">Search Student</a>
                        </li>
                    </ul>
                </div>